<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class = 'container text-center'>
<h1> About the author: Thamarai</h1>
<p class = 'text text-success'>
    Thamarai is born in India and she is now learning python with Djando to pursue her career in US.
    She already worked as a mainframe developer in Inautix for 5 years.
    She is now taking this challenge to learn with Web developement.
</p>
<br>
<a href = "{% url 'home' %}" class=" btn btn-warning">Home</a>
</div>